body, html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("Japanese Sushi Background.jpg");
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}






